<section class="advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="container container-adv">
    <div class="section-content">
      <div class="advantages-card">
        <ul class="advantages-list">
          <li class="advantages-item">
            <h3 class="advantages-item-header">01</h3>
            <p class="advantages-text">
              Swimming and water sports: try your hand at water skiing
            </p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-item-header">02</h3>
            <p class="advantages-text">Fishing: try to catch your own dinner</p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-item-header">03</h3>
            <p class="advantages-text">
              Sightseeing tours: take a shore or island tour, enjoy the views
              and sunsets from the water
            </p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-item-header">04</h3>
            <p class="advantages-text">
              Rest and relaxation: read a book or listen to music while enjoying
              the outdoor atmosphere.
            </p>
          </li>
        </ul>
      </div>
      <div class="advantages-img-container">
        <picture>
          <source
            srcset="
              ./img/advantages/table-desktop.jpg    1x,
              ./img/advantages/table-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="540"
            height="424"
          />
          <source
            srcset="
              ./img/advantages/table-tablet.jpg    1x,
              ./img/advantages/table-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
            height="424"
          />
          <source
            srcset="./img/advantages/table-mobile@2x.jpg"
            media="(max-width: 767px)"
            width="335"
            height="424"
          />
          <img
            class="advantages-img"
            src="./img/advantages/table-mobile.jpg"
            alt="jacht table"
            width="335"
            height="424"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
