<footer class="footer-container">
  <div class="footer-wraper">
    <div class="footer-logo">
      <a class="footer-logo-text" href="./index.html">yachtjet</a>
    </div>
    <div class="footer-menu">
      <ul class="footer-menu-list">
        <li class="footer-menu-item">
          <a class="footer-menu-link-item" href="#about">About</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link-item" href="#yachts">Yachts</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link-item" href="#reviews">Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            class="footer-social-link-item"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-social-item-logo" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use></svg
          ></a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link-item"
            href="//www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-item-logo" width="24" height="24">
              <use href="./img/icons.svg#youtube"></use></svg
          ></a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link-item"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-social-item-logo" width="24" height="24">
              <use href="./img/icons.svg#facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <p class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <div class="footer-copyright">
      <p class="footer-copyright-text">2023. Yacht Adventures</p>
      <p class="footer-copyright-text">
        <a class="footer-privacy-police">Privacy Police</a>
      </p>
    </div>
  </div>
</footer>
