<header class="container transparent">
  <div class="main-header">
    <nav class="page-header-cont">
      <a class="logo" href="./index.html">yachtjet</a>
      <ul class="menu">
        <li class="menu-nav">
          <button class="button"><a href="#about">About</a></button>
        </li>
        <li class="menu-nav">
          <button class="button"><a href="#yachts">Yachts</a></button>
        </li>
        <li class="menu-nav">
          <button class="button"><a href="#reviews">Reviews</a></button>
        </li>
      </ul>
      <div class="block-social-icon">
        <ul class="group-social-icons">
          <li class="social-icons">
            <a
              class="social-link"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
            >
              <svg
                class="size-of-icon"
                width="24"
                height="24"
                aria-label="instagram"
              >
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons">
            <a
              class="social-link"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg
                class="size-of-icon"
                width="24"
                height="24"
                aria-label="youtube"
              >
                <use href="./img/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons">
            <a
              class="social-link"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
            >
              <svg
                class="size-of-icon"
                width="24"
                height="24"
                aria-label="facebook"
              >
                <use href="./img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="mobile-menu-btn" aria-expanded="false" type="button">
      <svg
        class="mobile-menu-btf-icon"
        width="28"
        height="28"
        aria-label="mobile-menu-icon-open"
      >
        <use href="./img/icons.svg#icon-menu-duo"></use>
      </svg>
    </button>
  </div>
</header>
