<header class="container transparent">
  <div class="main-header">
    <nav class="page-header-cont">
      <a class="logo" href="project.html">yachtjet</a>
      <ul class="menu">
        <li class="menu-nav"><button class="button">About</button></li>
        <li class="menu-nav"><button class="button">Yachts</button></li>
        <li class="menu-nav"><button class="button">Reviews</button></li>
      </ul>
      <div class="block-social-icon">
        <ul class="group-social-icons">
          <li class="social-icons">
            <a
              class="social-link"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
            >
              <svg
                class="size-of-icon"
                width="24"
                height="24"
                aria-label="instagram"
              >
                <use
                  href="../img/header-simbo-icon.svg#icon-icon_instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-icons">
            <a
              class="social-link"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg
                class="size-of-icon"
                width="24"
                height="24"
                aria-label="youtub"
              >
                <use
                  href="../img/header-simbo-icon.svg#icon-icon-youtube"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-icons">
            <a
              class="social-link"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
            >
              <svg
                class="size-of-icon"
                width="24"
                height="24"
                aria-label="facebook"
              >
                <use
                  href="../img/header-simbo-icon.svg#icon-icon-facebook"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="mobile-menu-btn" type="button">
      <svg
        class="mobile-menu-btf-icon"
        width="28"
        height="28"
        aria-label="mobile-meny-icon-open"
      >
        <use href="../img/header-simbo-icon.svg#icon-menu-duo"></use>
      </svg>
    </button>
  </div>
</header>
