<section class="container transparent">
  <div class="hero-text-wrapper">
    <h1 class="hero-title" id="title">
      Explore the High Seas with Our Luxury Yacht Rentals
    </h1>
    <p class="hero-description">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
  </div>
  <button class="button-style" type="button" id="hoverButton">
    <a class="yacht-rental-link link" href="#rent">Yacht rental</a>
  </button>
</section>
