<!-- MOBILE MENU HTML-->

<div class="menu-container">
  <div class="menu-header">
    <p class="menu-logo">yachtjet</p>
    <button class="menu-button" type="button">
      <svg class="menu-button-icon" width="16" height="16" viewBox="0 0 16 16">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
  </div>
  <div class="menu-nav">
    <ul class="menu-nav-list">
      <li class="menu-nav-list-item menu-about">about</li>
      <li class="menu-nav-list-item">yachts</li>
      <li class="menu-nav-list-item">reviews</li>
    </ul>
  </div>
  <div class="menu-social">
    <ul class="menu-social-list">
      <li class="menu-social-list-item">
        <a href="" class="menu-social-link"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="menu-social-icon"
          >
            <use href="./img/icons.svg#instagram"></use></svg
        ></a>
      </li>

      <li class="menu-social-list-item">
        <a href="" class="menu-social-link"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="menu-social-icon"
          >
            <use href="./img/icons.svg#youtube"></use></svg
        ></a>
      </li>
      <li class="menu-social-list-item">
        <a href="" class="menu-social-link"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="menu-social-icon"
          >
            <use href="./img/icons.svg#facebook"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
