<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="reviews-menu">
      <div class="reviews-list-mobile">
        <li class="reviews-list">
          <picture>
            <source
              srcset="
                ./img/reviews/john-wax-desktop.png    1x,
                ./img/reviews/john-wax-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/reviews/john-wax-tablet.png    1x,
                ./img/reviews/john-wax-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/reviews/john-wax-mobile.png    1x,
                ./img/reviews/john-wax-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="reviews-item"
              src="./YachtJet_files/john-wax-mobile.png"
              alt="John Wax"
              width="56"
              height="56"
            />
          </picture>
          <div class="review-menu-name">
            <h3 class="reviews-item-title">John Wax</h3>
            <p class="reviews-item-text">
              I rented the Lagoon 620 with my family for a week-long vacation
              and it was the best decision ever. The yacht was spacious,
              comfortable, and luxurious, and the crew took care of everything.
            </p>
          </div>
        </li>
      </div>
      <div class="reviews-list-tablet">
        <li class="reviews-list">
          <picture>
            <source
              srcset="
                ./img/reviews/victoria-romashenko-desktop.png    1x,
                ./img/reviews/victoria-romashenko-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/reviews/victoria-romashenko-tablet.png    1x,
                ./img/reviews/victoria-romashenko-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="reviews-item"
              src="./YachtJet_files/victoria-romashenko-tablet.png"
              alt="Victoria Romashenko"
            />
          </picture>
          <div class="review-menu-name">
            <h3 class="reviews-item-title">Victoria Romashenko</h3>
            <p class="reviews-item-text">
              The Sunseeker Manhattan 66 was the perfect choice for our romantic
              getaway. The yacht was beautifully designed, with all the
              amenities we needed, and the crew was attentive and friendly.
            </p>
          </div>
        </li>
      </div>
      <div class="reviews-list-desktop">
        <li class="reviews-list">
          <picture>
            <source
              srcset="
                ./img/reviews/ihor-trachuk-desktop.png    1x,
                ./img/reviews/ihor-trachuk-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="reviews-item"
              src="./YachtJet_files/ihor-trachuk-desktop.png"
              alt="Ihor Trachuk"
            />
          </picture>
          <h3 class="reviews-item-title">Ihor Trachuk</h3>
          <p class="reviews-item-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
