<section class="container" id="yachts">
  <div class="page-yachts-title-style">
    <h2 class="page-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
  </div>
  <ul class="page-yachts-list">
    <li class="page-yachts-item">
      <picture>
        <source
          srcset="
            ./img/yachts/desktop-arrow-yacht@1x.jpg 1x,
            ./img/yachts/desktop-arrow-yacht@2x.jpg 2x
          "
          width="345"
          height="268"
          media="(min-width:1280px)"
        />

        <source
          srcset="
            ./img/yachts/tablet-arrow-yacht@1x.jpg 1x,
            ./img/yachts/tablet-arrow-yacht@2x.jpg 2x
          "
          width="304"
          height="268"
          media="(min-width:768px)"
        />

        <source
          srcset="
            ./img/yachts/mobile-arrow-yacht@1x.jpg 1x,
            ./img/yachts/mobile-arrow-yacht@2x.jpg 2x
          "
          width="302"
          height="240"
          media="(max-width:375px)"
        />

        <img
          class="picture-item"
          src="./img/yachts/mobile-arrow-yacht@1x.jpg"
          alt="Yacht Arrow"
        />
      </picture>
      <div class="yacht-status-container">
        <h3 class="yacht-name">Arrow</h3>
        <p class="yacht-status">Luxury yachts</p>
      </div>
      <div class="yacht-attributes-container">
        <ul class="yacht-attributes">
          <li class="yacht-attributes-item">Length</li>
          <li class="yacht-attributes-item">Builder</li>
          <li class="yacht-attributes-item">Built</li>
          <li class="yacht-attributes-item">Guests</li>
          <li class="yacht-attributes-item">Price</li>
        </ul>
        <ul class="yacht-attributes-value">
          <li class="yacht-attribute-items-value">48m(155ft)</li>
          <li class="yacht-attribute-items-value">Admiral</li>
          <li class="yacht-attribute-items-value">2021</li>
          <li class="yacht-attribute-items-value">11 in 5 cabins</li>
          <li class="yacht-attribute-items-value">€33,500,000</li>
        </ul>
      </div>
    </li>

    <li class="page-yachts-item benetti">
      <picture>
        <source
          srcset="
            ./img/yachts/desktop-benetti-yacht@1x.jpg 1x,
            ./img/yachts/desktop-benetti-yacht@2x.jpg 2x
          "
          width="345"
          height="268"
          media="(min-width:1280px)"
        />

        <source
          srcset="
            ./img/yachts/tablet-benetti-yacht@1x.jpg 1x,
            ./img/yachts/tablet-benetti-yacht@2x.jpg 2x
          "
          width="304"
          height="268"
          media="(min-width:768px)"
        />

        <source
          srcset="
            ./img/yachts/mobile-benetti-yacht@1x.jpg 1x,
            ./img/yachts/mobile-benetti-yacht@2x.jpg 2x
          "
          width="302"
          height="240"
          media="(max-width:375px)"
        />

        <img
          class="picture-item"
          src="./img/yachts/mobile-benetti-yacht@1x.jpg"
          alt="Yacht Benetti Oasis"
        />
      </picture>
      <div class="yacht-status-container">
        <h3 class="yacht-name">Benetti Oasis 40m BO122</h3>
        <p class="yacht-status">Luxury yachts</p>
      </div>
      <div class="yacht-attributes-container">
        <ul class="yacht-attributes">
          <li class="yacht-attributes-item">Length</li>
          <li class="yacht-attributes-item">Shipyard</li>
          <li class="yacht-attributes-item">Built</li>
          <li class="yacht-attributes-item">Guests</li>
          <li class="yacht-attributes-item">Price</li>
        </ul>
        <ul class="yacht-attributes-value">
          <li class="yacht-attribute-items-value">41m (133ft)</li>
          <li class="yacht-attribute-items-value">Benetti</li>
          <li class="yacht-attribute-items-value">2025</li>
          <li class="yacht-attribute-items-value">10 in 5 cabins</li>
          <li class="yacht-attribute-items-value">€23,210,000</li>
        </ul>
      </div>
    </li>

    <li class="page-yachts-item belle">
      <picture>
        <source
          srcset="
            ./img/yachts/desktop-belle-yacht@1x.jpg 1x,
            ./img/yachts/desktop-belle-yacht@2x.jpg 2x
          "
          width="345"
          height="268"
          media="(min-width:1280px)"
        />

        <source
          srcset="
            ./img/yachts/tablet-belle-yacht@1x.jpg 1x,
            ./img/yachts/tablet-belle-yacht@2x.jpg 2x
          "
          width="304"
          height="268"
          media="(min-width:768px)"
        />

        <source
          srcset="
            ./img/yachts/mobile-belle-yacht@1x.jpg 1x,
            ./img/yachts/mobile-belle-yacht@2x.jpg 2x
          "
          width="302"
          height="240"
          media="(max-width:375px)"
        />

        <img
          class="picture-item"
          src="./img/yachts/mobile-belle-yacht@1x.jpg"
          alt="Yacht Belle Anna"
        />
      </picture>
      <div class="yacht-status-container">
        <h3 class="yacht-name">Belle Anna</h3>
        <p class="yacht-status">Luxury yachts</p>
      </div>
      <div class="yacht-attributes-container">
        <ul class="yacht-attributes">
          <li class="yacht-attributes-item">Length</li>
          <li class="yacht-attributes-item">Builder</li>
          <li class="yacht-attributes-item">Built</li>
          <li class="yacht-attributes-item">Guests</li>
          <li class="yacht-attributes-item">Price</li>
        </ul>
        <ul class="yacht-attributes-value">
          <li class="yacht-attribute-items-value">48m(155ft)</li>
          <li class="yacht-attribute-items-value">Admiral</li>
          <li class="yacht-attribute-items-value">2021</li>
          <li class="yacht-attribute-items-value">11 in 5 cabins</li>
          <li class="yacht-attribute-items-value">€33,500,000</li>
        </ul>
      </div>
    </li>
  </ul>
  <button class="page-yachts-button" type="button">
    <a class="yacht-rental-link link" href="#rent">Yacht rental</a>
  </button>
</section>
