/*================ Mobile Styles =============== */
.about-us-container {
  max-width: 335px;
  height: 775px;
  display: flex;
  background: #fbfbfb;
  flex-direction: column;
  gap: 40px;
  border-radius: 24px;
  padding: 0px;
  z-index: 2;
  position: relative;
  top: -100px;
  justify-content: space-between;
  overflow: hidden;
}
.about-us-top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px 0px 20px;
}
.about-us-title {
  color: #1b414b;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
}
.about-us-list-paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us-subtitle {
  color: #1b414b;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}
.about-us-paragraph {
  color: #040306;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.4;
}

.about-us-img {
  height: 395px;
  object-fit: cover;
  object-position: center;
}

.about-us-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .about-us-container {
    max-width: 768px;
    height: 952px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .about-us-top-wrapper {
    padding-top: 50px;
    padding-left: 32px;
  }

  .about-us-title {
    width: 536px;
    height: 144px;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
  }
  .about-us-list-paragraph {
    display: flex;
    width: 389px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .about-us-subtitle {
    font-size: 23px;
    width: 389px;
    height: 92px;
  }
  .about-us-paragraph {
    width: 385px;
    height: 75px;
    font-size: 13px;
    line-height: 1.15;
  }
  .about-us-img {
    height: 470px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-container {
    display: flex;
    max-width: 1280px;
    height: 834px;
    top: -80px;
  }
  .about-us-top-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 189px;
    padding: 50px;
  }
  .about-us-title {
    display: flex;
    width: 537px;
    height: 144px;
  }
  .about-us-list-paragraph {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 50px;
  }
  .about-us-subtitle {
    width: 354px;
    height: 115px;
  }
  .about-us-paragraph {
    width: 354px;
    height: 75px;
  }

  .about-us-image-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
}
