
/* Advantages Mobile */

.advantages {
    background-color: #0E1823;
    padding-top: 80px;
    padding-bottom: 80px;
}

.advantages-card {
    padding: 80px 20px;
    border-radius: 24px;
    max-width: 335px;
    background-color: #1B414B;
    margin-bottom: 20px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advantages-item-header {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    position: relative;
}

.advantages-item-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    height: 2px;
    width: 100%;
    border-radius: 18px;
    background: rgba(251, 251, 251, 0.10);
}

.advantages-text {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
    opacity: 0.8;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advantages-img-container {
    max-width: 100%;
}

.advantages-img {
    max-width: 100%;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Advantages Tablet */

@media screen and (min-width:768px) {
    
    .advantages {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .advantages-card {
        max-width: 704px;
        padding-right: 0px;
        padding-left: 32px;
    }

    .advantages-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 44px;
        column-gap: 32px;
    }

    .advantages-item {
        width: 304px;
    }

    .advantages-text {
        font-size: 13px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }


}

/* Advantages Desktop */

@media screen and (min-width:1280px) {
    .container-desktop {
        max-width: 1280px;
        padding-left: 50px;
        padding-right: 28px;
    }

    .section-content {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 32px;

    }

    .advantages-card {
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 50px;
        max-width: 716px;
        height: 424px;
        margin-bottom: 0px;
    }

    .advantages-list {
        column-gap: 44px;
    }

    .advantages-item {
        width: 280px;
    }



    .advantages-img-container {
        max-width: 432px;
        max-height: 424px;
    }
}