.container {
  max-width: 375px;
  padding: 20px 10px 0px;
  margin: 0 auto;

  @media (min-width: 480px) {
    max-width: 480px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 32px 16px 0px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}