/*================ Mobile =============== */
.header-hero-wrapper {
  background-color: #0e1823;
  background: linear-gradient(359deg,
      rgba(14, 24, 35, 0.1) 80%,
      rgba(14, 24, 35, 0.3) 10%,
      rgba(14, 24, 35, 1) 100%),
    url(../img/hero/image-1-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 812px;
  z-index: 1;
  animation: animateBackground 7s linear infinite alternate;
}

@keyframes animateBackground {
  from {
    filter: brightness(100%);
  }

  to {
    filter: brightness(150%);
  }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .header-hero-wrapper {
    background: linear-gradient(to bottom,
        rgba(14, 24, 35, 0.1) 80%,
        rgba(14, 24, 35, 0.3) 10%,
        rgba(14, 24, 35, 1) 100%),
      url(../img/hero/image-1-mob2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}

.hero-title {
  max-width: 335px;
  margin-top: 140px;
  margin-bottom: 24px;
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.64px;
  height: 6.5em;
}

.hero-description {
  margin-bottom: 38px;
  max-width: 335px;
  color: rgba(251, 251, 251, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

.button-style {
  margin-top: 40px;
  display: block;
  min-width: 141px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: transparent;
  background: #1b414b;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 32px;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  animation: pulse 10s infinite;

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);


  100% {
    transform: scale(1);
  }
}

.button-style:hover,
.button-style:focus,
.button-style.hovered {
  /* Added .button-style.hovered */
  background-color: #fbfbfb !important;
  /* Added !important */
  color: black !important;
  /* Added !important */

}

@media screen and (min-width: 768px) {
  .header-hero-wrapper {
    background-image: linear-gradient(359deg,
        rgba(17, 19, 31, 0.31) 84.12%,
        rgba(17, 19, 31, 0) 99.94%),
      url(/img/hero/image-1-tab.jpg);
    height: 962px;
    line-height: 22px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .header-hero-wrapper {
      background-image: linear-gradient(359deg,
          rgba(17, 19, 31, 0.31) 84.12%,
          rgba(17, 19, 31, 0) 99.94%),
        url(/img/hero/image-1-tab2x.jpg);
    }
  }

  .hero-text-wrapper {
    margin-bottom: 48px;
  }

  .hero-title {
    max-width: 704px;
    margin-bottom: 24px;
    font-size: 70px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.4px;
    height: 3.5em;

  }

  .hero-description {
    max-width: 597px;
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
  }

  .button-style {
    margin-top: 50px;
    min-width: 179px;
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
  }
}

@media (min-width: 1280px) {
  .header-hero-wrapper {
    background-image: linear-gradient(359deg,
        rgba(17, 19, 31, 0.31) 84.12%,
        rgba(17, 19, 31, 0) 99.94%),
      url(/img/hero/image-1-desc.jpg);
    height: 800px;
  }

  .hero-title {
    max-width: 1001px;
    margin-top: 0px;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -1.6px;
    height: 2.5em;
  }

  .hero-description {
    max-width: 597px;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
  }
