.reviews {
  background-color: #0e1823;
  padding: 80px 0;
}
.reviews-list-tablet {
  display: none;
}
.reviews-list-desktop {
  display: none;
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.reviews-title {
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}
.reviews-text {
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}
.reviews-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 24px;
  width: 335px;
  padding: 32px 8px;
}
.reviews-item {
    margin-bottom: 24px;
}
.review-menu-name {
  width: 303px;
}
.reviews-item-title {
  color: #040306;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.reviews-item-text {
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 0;
  }
  .reviews {
    padding: 150px 0;
  }
  .reviews-menu {
    display: flex;
    gap: 32px;
  }
.reviews-list {
    width: 336px;
}
  .reviews-title {
    color: #fbfbfb;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; 
    letter-spacing: -0.02em;
    width: 704px;
    margin-bottom: 25px;
  }

  .reviews-text {
    color: #fbfbfb;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29; 
    letter-spacing: -0.02em;
    width: 571px;
    margin-bottom: 75px;
  }
  .reviews-list-tablet {
    display: flex;
    }
    .review-menu-name {
        width: 304px;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        pad: 150px 50px;
    }
    .reviews-title {
        width: 854px;
    }
    .reviews-list-desktop {
        display: flex;
    }
    .reviews-menu {
        gap: 26px
    }
    .reviews-list {
        width: 376px;
        padding: 32px 28px;
    }
}
